# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/

*.wfp
*-result.json

# Ingore the version text file. only used during build
version.txt

# Ignore env files
.env
*.env

tmp/

# Ignore package files
*.tgz
*.tar
*.gz
*.zip

# Coverage tool output
*.out
coverage.html

.DS_Store