# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/

*.wfp
*-result.json

# Ingore the version text file. only used during build
version.txt

tmp/

# Ignore package files
*.tgz
*.tar
*.gz
*.zip

.DS_Store

scripts/scanoss-*-api
